<!DOCTYPE html>

<html lang="en">

<head>
    <title>You-tify</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CSS from https://getbootstrap.com/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" -
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
        html, body {
            background-color: #36393f;
            color: #f2f2f2;
        }
        h1 {text-align: center; font-family: 'Alfa Slab One', cursive;}
        h2 {text-align: center;  position: relative; right: 15px;}
        body {text-align: center;}
    </style>
</head>

<body>
        <div class="position-relative my-5">
            <h1 style="text-align: center; font-weight: bold; font-size: 65px;">You-tify.</h1>
        </div>
        <h2><img src="/static/logo.png" alt="logo" width="500" height="278.3"></h2>

        {% if completed %}
        <div class="container">
            <h3 style="color: lightcoral;">Success!</h2>
                See your new You-tified playlist <a href="{{ completed }}">here</a>!
                <br><br>
        </div>
    
        {% endif %}
        <div class="container">
            <br>
            <form style="font-weight: bold" action="/" method="POST">
                Spotify Playlist Link: &nbsp; <input style="width: 400px;"type="text"  name="spotifyPlaylistUrl" value="" > &nbsp;
                <input class="btn btn-primary" type="submit" value="Get YouTube Playlist">
            </form>
            {% if error %}
            <p style="color: red;" class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
        </div>
        <div class = "container">
            <br><br><br>
            <p style="font-size: 21px; font-weight: bold; ">Before you start:</p>
                <ul style = "text-align: left; margin-left: 15%; margin-right: 15%;">
                    <li>Make sure that your Spotify playlist is public and that your YouTube account has a channel to transfer your playlist to.</li>
                    <li>You can create a YouTube channel by making a public/unlisted playlist.</li>
                </ul>
            <br>
            <p style = "font-size: 21px; font-weight: bold;">How to use You-tify:</p>
            <p>
                <ol style="text-align: left; margin-left: 15%; margin-right: 15%;">
                    <li style="font-weight: bold;"><div style="font-weight: normal;">Open the Spotify playlist you want to you-tify, click the circle with the ellipses > "Share" > "Copy Playlist Link"</div></li>
                    <li style="font-weight: bold;"><div style="font-weight: normal;">Paste the playlist link into the search box</div></li>
                    <li style="font-weight: bold;"><div style="font-weight: normal;">Hit the button to convert your playlist</div></li>
                    <li style="font-weight: bold;"><div style="font-weight: normal;">Log into your Google/YouTube account and give authorization to You-tify</div></li>
                    <li style="font-weight: bold;"><div style="font-weight: normal;">Enjoy listening!</div></li>
                </ol>
            </p>
        </div>
    </div>
    <br>
</body>

</html>