<!DOCTYPE html>

<html lang="en">

<head>
    <title>You-tify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CSS from https://getbootstrap.com/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1 style="text-align: center">You-tify a Playlist!</h1>
        <br>
        <form action="/" method="POST">
            Spotify Url: <input type="text"  name="spotifyPlaylistUrl" value="">
            <p><br></p>
            YouTube Client ID: <input type="text"  name="youtubeClientId" value="">
            <p><br></p>
            YouTube Client Secret: <input type="text"  name="youtubeClientSecret" value="">
            <p><br></p>
            <input class="btn btn-default" type="submit" value="Get YouTube Playlist">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
</body>

</html>